# Building Model for Predicting Rookie RB Success

## NFL Data Loading

In [1]:
import pandas as pd

with open('rookie_rbs.csv', 'r') as f1:
    rookies = pd.read_csv(f1)
rookies.head()

   Year  No.  Round  Pick  Player             Name      Team          College
0  2023    1      1     8       8   Bijan Robinson   Falcons            Texas
1  2023    2      1    12      12     Jahmyr Gibbs     Lions          Alabama
2  2023    3      2    21      52  Zach Charbonnet  Seahawks             UCLA
3  2023    4      3     8      71    Kendre Miller    Saints  Texas Christian
4  2023    5      3    18      81     Tyjae Spears    Titans           Tulane

In [2]:
rookie_year_mapper = {}
for i, row in rookies.iterrows():
    rookie_year_mapper[row["Name"]] = int(row["Year"])
rookie_year_mapper

{'Bijan Robinson': 2023,
 'Jahmyr Gibbs': 2023,
 'Zach Charbonnet': 2023,
 'Kendre Miller': 2023,
 'Tyjae Spears': 2023,
 "De'Von Achane": 2023,
 'Tank Bigsby': 2023,
 'Roschon Johnson': 2023,
 'Israel Abanikanda': 2023,
 'Chase Brown': 2023,
 'Eric Gray': 2023,
 'Evan Hull': 2023,
 'Chris Rodriguez': 2023,
 'Deuce Vaughn': 2023,
 'Zach Evans': 2023,
 'DeWayne McBride': 2023,
 'Lew Nichols': 2023,
 'Kenny McIntosh': 2023,
 'Breece Hall': 2022,
 'Kenneth Walker': 2022,
 'James Cook': 2022,
 'Rachaad White': 2022,
 'Tyrion Davis-Price': 2022,
 'Brian Robinson': 2022,
 'Dameon Pierce': 2022,
 'Zamir White': 2022,
 'Isaiah Spiller': 2022,
 'Pierre Strong': 2022,
 'Hassan Haskins': 2022,
 'Tyler Allgeier': 2022,
 'Snoop Conner': 2022,
 'Jerome Ford': 2022,
 'Kyren Williams': 2022,
 'Ty Chandler': 2022,
 'Kevin Harris': 2022,
 'Tyler Badie': 2022,
 'Keaontay Ingram': 2022,
 'Trestan Ebner': 2022,
 'Connor Heyward': 2022,
 'Brittain Brown': 2022,
 'Isaih Pacheco': 2022,
 'Zander Horvath': 2022,
 'Najee Harris': 2021,
 'Travis Etienne': 2021,
 'Javonte Williams': 2021,
 'Trey Sermon': 2021,
 'Michael Carter': 2021,
 'Kene Nwangwu': 2021,
 'Rhamondre Stevenson': 2021,
 'Chuba Hubbard': 2021,
 'Kenneth Gainwell': 2021,
 'Ben Mason': 2021,
 'Elijah Mitchell': 2021,
 'Gary Brightwell': 2021,
 'Larry Rountree': 2021,
 'Chris Evans': 2021,
 'Demetric Felton': 2021,
 'Khalil Herbert': 2021,
 'Jake Funk': 2021,
 'Gerrid Doaks': 2021,
 'Kylin Hill': 2021,
 'Jermar Jefferson': 2021,
 'Clyde Edwards-Helaire': 2020,
 "D'Andre Swift": 2020,
 'Jonathan Taylor': 2020,
 'Cam Akers': 2020,
 'J.K. Dobbins': 2020,
 'AJ Dillon': 2020,
 "Ke'Shawn Vaughn": 2020,
 'Zack Moss': 2020,
 'Darrynton Evans': 2020,
 'Joshua Kelley': 2020,
 'Lamical Perine': 2020,
 'Anthony McFarland': 2020,
 'DeeJay Dallas': 2020,
 'Jason Huntley': 2020,
 'Eno Benjamin': 2020,
 'Raymond Calais': 2020,
 'Josh Jacobs': 2019,
 'Miles Sanders': 2019,
 'Darrell Henderson': 2019,
 'David Montgomery': 2019,
 'Devin Singletary': 2019,
 'Damien Harris': 2019,
 'Alexander Mattison': 2019,
 'Bryce Love': 2019,
 'Justice Hill': 2019,
 'Benny Snell': 2019,
 'Tony Pollard': 2019,
 'Ryquell Armstead': 2019,
 'Qadree Ollison': 2019,
 'Jordan Scarlett': 2019,
 'Trayveon Williams': 2019,
 'Ty Johnson': 2019,
 'Dexter Williams': 2019,
 'Travis Homer': 2019,
 'Rodney Anderson': 2019,
 'Darwin Thompson': 2019,
 'Mike Weber': 2019,
 'Cullen Gillaspia': 2019,
 'Kerrith Whyte': 2019,
 'Chandler Cox': 2019,
 'Myles Gaskin': 2019,
 'Saquon Barkley': 2018,
 'Rashaad Penny': 2018,
 'Sony Michel': 2018,
 'Nick Chubb': 2018,
 'Ronald Jones': 2018,
 'Kerryon Johnson': 2018,
 'Derrius Guice': 2018,
 'Royce Freeman': 2018,
 'Nyheim Hines': 2018,
 'Mark Walton': 2018,
 'Ito Smith': 2018,
 'Kalen Ballage': 2018,
 'Chase Edmonds': 2018,
 'Jordan Wilkins': 2018,
 'John Kelly': 2018,
 'Boston Scott': 2018,
 'Trenton Cannon': 2018,
 'David Williams': 2018,
 'Bo Scarbrough': 2018,
 'Nick Bawdon': 2018,
 'Justin Jackson': 2018,
 'Leonard Fournette': 2017,
 'Christian McCaffrey': 2017,
 'Dalvin Cook': 2017,
 'Joe Mixon': 2017,
 'Alvin Kamara': 2017,
 'Kareem Hunt': 2017,
 "D'Onta Foreman": 2017,
 'James Conner': 2017,
 'Samaje Perine': 2017,
 'Tarik Cohen': 2017,
 'Joe Williams': 2017,
 'Donnel Pumphrey': 2017,
 'Jamaal Williams': 2017,
 'Wayne Gallman': 2017,
 'Marlon Mack': 2017,
 'Brian Hill': 2017,
 'Jeremy McNichols': 2017,
 'T.J. Logan': 2017,
 'Aaron Jones': 2017,
 'Elijah McGuire': 2017,
 'Alex Armah': 2017,
 "De'Angelo Henderson": 2017,
 'Sam Rogers': 2017,
 'Brandon Wilson': 2017,
 'Devante Mays': 2017,
 'Marquez Williams': 2017,
 'Khalfani Muhammad': 2017,
 'Elijah Hood': 2017,
 'Chris Carson': 2017,
 'Matthew Dayes': 2017,
 'Ezekiel Elliott': 2016,
 'Derrick Henry': 2016,
 'Kenyan Drake': 2016,
 'C.J. Prosise': 2016,
 'Tyler Ervin': 2016,
 'Kenneth Dixon': 2016,
 'Devontae Booker': 2016,
 'DeAndre Washington': 2016,
 'Paul Perkins': 2016,
 'Jordan Howard': 2016,
 'Wendell Smallwood': 2016,
 'Jonathan Williams': 2016,
 'Alex Collins': 2016,
 'Andy Janovich': 2016,
 'Keenan Reynolds': 2016,
 'Dan Vitale': 2016,
 'Derek Watt': 2016,
 'Kelvin Taylor': 2016,
 'Darius Jackson': 2016,
 'Dwayne Washington': 2016,
 'Daniel Lasco': 2016,
 'Keith Marshall': 2016,
 'Zac Brooks': 2016,
 'Todd Gurley': 2015,
 'Melvin Gordon': 2015,
 'T.J. Yeldon': 2015,
 'Ameer Abdullah': 2015,
 'Tevin Coleman': 2015,
 'Duke Johnson': 2015,
 'David Johnson': 2015,
 'Matt Jones': 2015,
 'Jeremy Langford': 2015,
 'Jalston Fowler': 2015,
 'Javorius Allen': 2015,
 'Mike Davis': 2015,
 'David Cobb': 2015,
 'Jay Ajayi': 2015,
 'Karlos Williams': 2015,
 'Michael Burton': 2015,
 'Cameron Artis-Payne': 2015,
 'Josh Robinson': 2015,
 'Aaron Ripkowski': 2015,
 'Marcus Murphy': 2015,
 'Joey Iosefa': 2015,
 'Kenny Hilliard': 2015,
 'Bishop Sankey': 2014,
 'Jeremy Hill': 2014,
 'Carlos Hyde': 2014,
 'Charles Sims': 2014,
 'Tre Mason': 2014,
 'Terrance West': 2014,
 'Jerick McKinnon': 2014,
 'Dri Archer': 2014,
 'Devonta Freeman': 2014,
 'Andre Williams': 2014,
 "Ka'Deem Carey": 2014,
 "De'Anthony Thomas": 2014,
 'James White': 2014,
 'Lorenzo Taliaferro': 2014,
 'Alfred Blue': 2014,
 'Lache Seastrunk': 2014,
 'Marion Grice': 2014,
 'Tyler Gaffney': 2014,
 'Jay Prosch': 2014,
 'Storm Johnson': 2014,
 'Kiero Small': 2014,
 'Trey Millard': 2014,
 'Giovani Bernard': 2013,
 "Le'Veon Bell": 2013,
 'Montee Ball': 2013,
 'Eddie Lacy': 2013,
 'Christine Michael': 2013,
 'Knile Davis': 2013,
 'Johnathan Franklin': 2013,
 'Kyle Juszczyk': 2013,
 'Marcus Lattimore': 2013,
 'Stepfan Taylor': 2013,
 'Joseph Randle': 2013,
 'Chris Thompson': 2013,
 'Zac Stacy': 2013,
 'Mike Gillislee': 2013,
 'Latavius Murray': 2013,
 'Kenjon Barner': 2013,
 'Andre Ellington': 2013,
 'Mike James': 2013,
 'Rex Burkhead': 2013,
 'Spencer Ware': 2013,
 'Theo Riddick': 2013,
 'Braden Wilson': 2013,
 'Tommy Bohanon': 2013,
 'Jawan Jamison': 2013,
 'Kerwynn Williams': 2013,
 'Michael Cox': 2013,
 'Trent Richardson': 2012,
 'Doug Martin': 2012,
 'David Wilson': 2012,
 'Isaiah Pead': 2012,
 'LaMichael James': 2012,
 'Ronnie Hillman': 2012,
 'Bernard Pierce': 2012,
 'Lamar Miller': 2012,
 'Robert Turbin': 2012,
 'Rhett Ellison': 2012,
 'Bradie Ewing': 2012,
 'Chris Rainey': 2012,
 'Vick Ballard': 2012,
 'Alfred Morris': 2012,
 'Cyrus Gray': 2012,
 'Dan Herron': 2012,
 'Terrance Ganaway': 2012,
 'Michael Smith': 2012,
 'Bryce Brown': 2012,
 'Edwin Baker': 2012,
 'Daryl Richardson': 2012,
 'Mark Ingram': 2011,
 'Ryan Williams': 2011,
 'Shane Vereen': 2011,
 'Mikel Leshoure': 2011,
 'Daniel Thomas': 2011,
 'Demarco Murray': 2011,
 'Stevan Ridley': 2011,
 'Alex Green': 2011,
 'Roy Helu': 2011,
 'Kendall Hunter': 2011,
 'Delone Carter': 2011,
 'Owen Marecic': 2011,
 'Taiwan Jones': 2011,
 'Bilal Powell': 2011,
 'Jamie Harper': 2011,
 'Johnny White': 2011,
 'Anthony Sherman': 2011,
 'Jacquizz Rodgers': 2011,
 'Dion Lewis': 2011,
 'Evan Royster': 2011,
 'Jordan Todman': 2011,
 'Allen Bradford': 2011,
 'Shaun Chapas': 2011,
 "Da'Rel Scott": 2011,
 'Shane Bannon': 2011,
 'Anthony Allen': 2011,
 'Baron Batch': 2011,
 'Stanley Havili': 2011,
 'Jay Finlay': 2011,
 'C.J. Spiller': 2010,
 'Ryan Mathews': 2010,
 'Jahvid Best': 2010,
 'Dexter McCluster': 2010,
 'Toby Gerhart': 2010,
 'Ben Tate': 2010,
 'Montario Hardesty': 2010,
 'Joe McKnight': 2010,
 'John Conner': 2010,
 'Anthony Dixon': 2010,
 'Deji Karim': 2010,
 'Jonathan Dwyer': 2010,
 'James Stark': 2010,
 'Trindon Holliday': 2010,
 'Charles Scott': 2010,
 'Jameson Konz': 2010,
 'Knowshon Moreno': 2009,
 'Donald Brown': 2009,
 'Beanie Wells': 2009,
 'LeSean McCoy': 2009,
 'Shonn Greene': 2009,
 'Glen Coffee': 2009,
 'Mike Goodson': 2009,
 'Tony Fiammetta': 2009,
 'Andre Brown': 2009,
 'Gartrell Johnson': 2009,
 'Quinn Johnson': 2009,
 'Frank Summers': 2009,
 'Javon Ringer': 2009,
 'Cedric Peerman': 2009,
 'Aaron Brown': 2009,
 'James Davis': 2009,
 'Bernard Scott': 2009,
 'Chris Ogbonnaya': 2009,
 'Javarris Williams': 2009,
 'Fui Vakapuna': 2009,
 'LaRod Stephens-Howling': 2009,
 'Rashad Jennings': 2009,
 'Darren McFadden': 2008,
 'Jonathan Stewart': 2008,
 'Felix Jones': 2008,
 'Rashard Mendenhall': 2008,
 'Chris Johnson': 2008,
 'Matt Forte': 2008,
 'Ray Rice': 2008,
 'Kevin Smith': 2008,
 'Jacob Hester': 2008,
 'Jamaal Charles': 2008,
 'Steve Slaton': 2008,
 'Tashard Choice': 2008,
 'Ryan Torain': 2008,
 'Jerome Felton': 2008,
 'Timothy Hightower': 2008,
 'Owen Schmitt': 2008,
 'Marcus Thomas': 2008,
 'Thomas Brown': 2008,
 'Jalen Parmele': 2008,
 'Xavier Omon': 2008,
 'Mike Hart': 2008,
 'Lex Hilliard': 2008,
 'Chauncey Washington': 2008,
 'Peyton Hillis': 2008,
 'Justin Forsett': 2008,
 'Cory Boyd': 2008,
 'Allen Patrick': 2008,
 'Adrian Peterson': 2007,
 'Marshawn Lynch': 2007,
 'Kenny Irons': 2007,
 'Chris Henry': 2007,
 'Brian Leonard': 2007,
 'Brandon Jackson': 2007,
 'Lorenzo Booker': 2007,
 'Tony Hunt': 2007,
 'Garrett Wolfe': 2007,
 'Michael Bush': 2007,
 'Antonio Pittman': 2007,
 'Dwayne Wright': 2007,
 "Le'Ron McClain": 2007,
 'Kolby Smith': 2007,
 "Oren O'Neal": 2007,
 "Reagan Maui'a": 2007,
 'Thomas Clayton': 2007,
 'Deon Anderson': 2007,
 'Justise Hairston': 2007,
 'Derek Schouman': 2007,
 'DeShawn Wynn': 2007,
 'Nate Ilaoa': 2007,
 'Jason Snelling': 2007,
 'Kenneth Darby': 2007,
 'Ahmad Bradshaw': 2007,
 'Reggie Bush': 2006,
 'Laurence Maroney': 2006,
 'DeAngelo Williams': 2006,
 'Joseph Addai': 2006,
 'LenDale White': 2006,
 'Maurice Jones-Drew': 2006,
 'Brian Calhoun': 2006,
 'Jerious Norwood': 2006,
 'Michael Robinson': 2006,
 'Leon Washington': 2006,
 'P.J. Daniels': 2006,
 'Jerome Harrison': 2006,
 'David Kirtman': 2006,
 'Wali Lundy': 2006,
 'Lawrence Vickers': 2006,
 'J.D. Runnels': 2006,
 'Cedric Humes': 2006,
 'Quinton Ganther': 2006,
 'Ronnie Brown': 2005,
 'Cedric Benson': 2005,
 'Cadillac Williams': 2005,
 'J.J. Arrington': 2005,
 'Eric Shelton': 2005,
 'Frank Gore': 2005,
 'Vernand Morency': 2005,
 'Ryan Moats': 2005,
 'Maurice Clarett': 2005,
 'Marion Barber': 2005,
 'Brandon Jacobs': 2005,
 'Ciatrick Fason': 2005,
 'Manuel White': 2005,
 'Alvin Pearman': 2005,
 'Darren Sproles': 2005,
 'Damien Nash': 2005,
 'Justin Green': 2005,
 'Cedric Houston': 2005,
 'Deandra Cobb': 2005,
 'Rick Razzano': 2005,
 'Nehemiah Broughton': 2005,
 'Lionel Gates': 2005,
 'Anthony Davis': 2005,
 'Noah Herron': 2005,
 'Madison Hedgecock': 2005,
 'Steven Jackson': 2004,
 'Chris Perry': 2004,
 'Kevin Jones': 2004,
 'Tatum Bell': 2004,
 'Julius Jones': 2004,
 'Greg Jones': 2004,
 'Mewelde Moore': 2004,
 'Cedric Cobbs': 2004,
 'Michael Turner': 2004,
 'Mike Karney': 2004,
 'Thomas Tapeh': 2004,
 'Troy Fleming': 2004,
 'Adimchinobe Echemandu': 2004,
 'Jonathan Smith': 2004,
 'Quincy Wilson': 2004,
 'Casey Cramer': 2004,
 'Derrick Ward': 2004,
 'Sean McHugh': 2004,
 'Bruce Perry': 2004,
 'Brandon Miree': 2004,
 'Willis McGahee': 2003,
 'Larry Johnson': 2003,
 'Musa Smith': 2003,
 'B.J. Askew': 2003,
 'Chris Brown': 2003,
 'Justin Fargas': 2003,
 'Artose Pinner': 2003,
 'Domanick Davis': 2003,
 'Onterrio Smith': 2003,
 'Quentin Griffin': 2003,
 'Lee Suggs': 2003,
 'Jeremi Johnson': 2003,
 'Justin Griffith': 2003,
 'LaBrandon Toefield': 2003,
 'Ovie Mughelli': 2003,
 'Chris Davis': 2003,
 'Brock Forsey': 2003,
 'Malaefou MacKenzie': 2003,
 'Andrew Pinnock': 2003,
 'Ahmaad Galloway': 2003,
 'Brandon Drumm': 2003,
 'J.T. Wall': 2003,
 'Casey Moore': 2003}

In [3]:
with open('rushing_stats.csv', 'r') as f2:
    nfl_stats = pd.read_csv(f2)
nfl_stats.head()

,player,team,age,pos,g,gs,rush_att,rush_yds,rush_td,rush_first_down,rush_success,rush_long,rush_yds_per_att,rush_yds_per_g,fumbles,year
0,Ricky Williams,MIA,26,RB,16,16,392,1372,9,68,36.7,45,3.5,85.8,7,2003
1,Jamal Lewis,BAL,24,RB,16,16,387,2066,14,85,45.2,82,5.3,129.1,8,2003
2,Ahman Green,GNB,26,RB,16,16,355,1883,15,100,49.3,98,5.3,117.7,7,2003
3,Deuce McAllister,NOR,25,RB,16,16,351,1641,8,69,40.7,76,4.7,102.6,6,2003
4,Fred Taylor,JAX,27,RB,16,16,345,1572,6,79,46.7,62,4.6,98.3,6,2003

In [4]:
nfl_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6895 entries, 0 to 6894
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   player            6895 non-null   object
 1   team              6895 non-null   object
 2   age               6895 non-null   int64
 3   pos               6895 non-null   object
 4   g                 6895 non-null   int64
 5   gs                6895 non-null   int64
 6   rush_att          6895 non-null   int64
 7   rush_yds          6895 non-null   int64
 8   rush_td           6895 non-null   int64
 9   rush_first_down   6895 non-null   int64
 10  rush_success      6895 non-null   float64
 11  rush_long         6895 non-null   int64
 12  rush_yds_per_att  6895 non-null   float64
 13  rush_yds_per_g    6895 non-null   float64
 14  fumbles           6895 non-null   int64
 15  year              6895 non-null   int64
dtypes: float64(3), int64(10), object(3)
memory usage: 862.0+ KB

In [5]:
rookie_rbs_03_23 = list(rookie_year_mapper.keys())
rookie_rbs_03_23

['Bijan Robinson',
 'Jahmyr Gibbs',
 'Zach Charbonnet',
 'Kendre Miller',
 'Tyjae Spears',
 "De'Von Achane",
 'Tank Bigsby',
 'Roschon Johnson',
 'Israel Abanikanda',
 'Chase Brown',
 'Eric Gray',
 'Evan Hull',
 'Chris Rodriguez',
 'Deuce Vaughn',
 'Zach Evans',
 'DeWayne McBride',
 'Lew Nichols',
 'Kenny McIntosh',
 'Breece Hall',
 'Kenneth Walker',
 'James Cook',
 'Rachaad White',
 'Tyrion Davis-Price',
 'Brian Robinson',
 'Dameon Pierce',
 'Zamir White',
 'Isaiah Spiller',
 'Pierre Strong',
 'Hassan Haskins',
 'Tyler Allgeier',
 'Snoop Conner',
 'Jerome Ford',
 'Kyren Williams',
 'Ty Chandler',
 'Kevin Harris',
 'Tyler Badie',
 'Keaontay Ingram',
 'Trestan Ebner',
 'Connor Heyward',
 'Brittain Brown',
 'Isaih Pacheco',
 'Zander Horvath',
 'Najee Harris',
 'Travis Etienne',
 'Javonte Williams',
 'Trey Sermon',
 'Michael Carter',
 'Kene Nwangwu',
 'Rhamondre Stevenson',
 'Chuba Hubbard',
 'Kenneth Gainwell',
 'Ben Mason',
 'Elijah Mitchell',
 'Gary Brightwell',
 'Larry Rountree',
 'Chris Evans',
 'Demetric Felton',
 'Khalil Herbert',
 'Jake Funk',
 'Gerrid Doaks',
 'Kylin Hill',
 'Jermar Jefferson',
 'Clyde Edwards-Helaire',
 "D'Andre Swift",
 'Jonathan Taylor',
 'Cam Akers',
 'J.K. Dobbins',
 'AJ Dillon',
 "Ke'Shawn Vaughn",
 'Zack Moss',
 'Darrynton Evans',
 'Joshua Kelley',
 'Lamical Perine',
 'Anthony McFarland',
 'DeeJay Dallas',
 'Jason Huntley',
 'Eno Benjamin',
 'Raymond Calais',
 'Josh Jacobs',
 'Miles Sanders',
 'Darrell Henderson',
 'David Montgomery',
 'Devin Singletary',
 'Damien Harris',
 'Alexander Mattison',
 'Bryce Love',
 'Justice Hill',
 'Benny Snell',
 'Tony Pollard',
 'Ryquell Armstead',
 'Qadree Ollison',
 'Jordan Scarlett',
 'Trayveon Williams',
 'Ty Johnson',
 'Dexter Williams',
 'Travis Homer',
 'Rodney Anderson',
 'Darwin Thompson',
 'Mike Weber',
 'Cullen Gillaspia',
 'Kerrith Whyte',
 'Chandler Cox',
 'Myles Gaskin',
 'Saquon Barkley',
 'Rashaad Penny',
 'Sony Michel',
 'Nick Chubb',
 'Ronald Jones',
 'Kerryon Johnson',
 'Derrius Guice',
 'Royce Freeman',
 'Nyheim Hines',
 'Mark Walton',
 'Ito Smith',
 'Kalen Ballage',
 'Chase Edmonds',
 'Jordan Wilkins',
 'John Kelly',
 'Boston Scott',
 'Trenton Cannon',
 'David Williams',
 'Bo Scarbrough',
 'Nick Bawdon',
 'Justin Jackson',
 'Leonard Fournette',
 'Christian McCaffrey',
 'Dalvin Cook',
 'Joe Mixon',
 'Alvin Kamara',
 'Kareem Hunt',
 "D'Onta Foreman",
 'James Conner',
 'Samaje Perine',
 'Tarik Cohen',
 'Joe Williams',
 'Donnel Pumphrey',
 'Jamaal Williams',
 'Wayne Gallman',
 'Marlon Mack',
 'Brian Hill',
 'Jeremy McNichols',
 'T.J. Logan',
 'Aaron Jones',
 'Elijah McGuire',
 'Alex Armah',
 "De'Angelo Henderson",
 'Sam Rogers',
 'Brandon Wilson',
 'Devante Mays',
 'Marquez Williams',
 'Khalfani Muhammad',
 'Elijah Hood',
 'Chris Carson',
 'Matthew Dayes',
 'Ezekiel Elliott',
 'Derrick Henry',
 'Kenyan Drake',
 'C.J. Prosise',
 'Tyler Ervin',
 'Kenneth Dixon',
 'Devontae Booker',
 'DeAndre Washington',
 'Paul Perkins',
 'Jordan Howard',
 'Wendell Smallwood',
 'Jonathan Williams',
 'Alex Collins',
 'Andy Janovich',
 'Keenan Reynolds',
 'Dan Vitale',
 'Derek Watt',
 'Kelvin Taylor',
 'Darius Jackson',
 'Dwayne Washington',
 'Daniel Lasco',
 'Keith Marshall',
 'Zac Brooks',
 'Todd Gurley',
 'Melvin Gordon',
 'T.J. Yeldon',
 'Ameer Abdullah',
 'Tevin Coleman',
 'Duke Johnson',
 'David Johnson',
 'Matt Jones',
 'Jeremy Langford',
 'Jalston Fowler',
 'Javorius Allen',
 'Mike Davis',
 'David Cobb',
 'Jay Ajayi',
 'Karlos Williams',
 'Michael Burton',
 'Cameron Artis-Payne',
 'Josh Robinson',
 'Aaron Ripkowski',
 'Marcus Murphy',
 'Joey Iosefa',
 'Kenny Hilliard',
 'Bishop Sankey',
 'Jeremy Hill',
 'Carlos Hyde',
 'Charles Sims',
 'Tre Mason',
 'Terrance West',
 'Jerick McKinnon',
 'Dri Archer',
 'Devonta Freeman',
 'Andre Williams',
 "Ka'Deem Carey",
 "De'Anthony Thomas",
 'James White',
 'Lorenzo Taliaferro',
 'Alfred Blue',
 'Lache Seastrunk',
 'Marion Grice',
 'Tyler Gaffney',
 'Jay Prosch',
 'Storm Johnson',
 'Kiero Small',
 'Trey Millard',
 'Giovani Bernard',
 "Le'Veon Bell",
 'Montee Ball',
 'Eddie Lacy',
 'Christine Michael',
 'Knile Davis',
 'Johnathan Franklin',
 'Kyle Juszczyk',
 'Marcus Lattimore',
 'Stepfan Taylor',
 'Joseph Randle',
 'Chris Thompson',
 'Zac Stacy',
 'Mike Gillislee',
 'Latavius Murray',
 'Kenjon Barner',
 'Andre Ellington',
 'Mike James',
 'Rex Burkhead',
 'Spencer Ware',
 'Theo Riddick',
 'Braden Wilson',
 'Tommy Bohanon',
 'Jawan Jamison',
 'Kerwynn Williams',
 'Michael Cox',
 'Trent Richardson',
 'Doug Martin',
 'David Wilson',
 'Isaiah Pead',
 'LaMichael James',
 'Ronnie Hillman',
 'Bernard Pierce',
 'Lamar Miller',
 'Robert Turbin',
 'Rhett Ellison',
 'Bradie Ewing',
 'Chris Rainey',
 'Vick Ballard',
 'Alfred Morris',
 'Cyrus Gray',
 'Dan Herron',
 'Terrance Ganaway',
 'Michael Smith',
 'Bryce Brown',
 'Edwin Baker',
 'Daryl Richardson',
 'Mark Ingram',
 'Ryan Williams',
 'Shane Vereen',
 'Mikel Leshoure',
 'Daniel Thomas',
 'Demarco Murray',
 'Stevan Ridley',
 'Alex Green',
 'Roy Helu',
 'Kendall Hunter',
 'Delone Carter',
 'Owen Marecic',
 'Taiwan Jones',
 'Bilal Powell',
 'Jamie Harper',
 'Johnny White',
 'Anthony Sherman',
 'Jacquizz Rodgers',
 'Dion Lewis',
 'Evan Royster',
 'Jordan Todman',
 'Allen Bradford',
 'Shaun Chapas',
 "Da'Rel Scott",
 'Shane Bannon',
 'Anthony Allen',
 'Baron Batch',
 'Stanley Havili',
 'Jay Finlay',
 'C.J. Spiller',
 'Ryan Mathews',
 'Jahvid Best',
 'Dexter McCluster',
 'Toby Gerhart',
 'Ben Tate',
 'Montario Hardesty',
 'Joe McKnight',
 'John Conner',
 'Anthony Dixon',
 'Deji Karim',
 'Jonathan Dwyer',
 'James Stark',
 'Trindon Holliday',
 'Charles Scott',
 'Jameson Konz',
 'Knowshon Moreno',
 'Donald Brown',
 'Beanie Wells',
 'LeSean McCoy',
 'Shonn Greene',
 'Glen Coffee',
 'Mike Goodson',
 'Tony Fiammetta',
 'Andre Brown',
 'Gartrell Johnson',
 'Quinn Johnson',
 'Frank Summers',
 'Javon Ringer',
 'Cedric Peerman',
 'Aaron Brown',
 'James Davis',
 'Bernard Scott',
 'Chris Ogbonnaya',
 'Javarris Williams',
 'Fui Vakapuna',
 'LaRod Stephens-Howling',
 'Rashad Jennings',
 'Darren McFadden',
 'Jonathan Stewart',
 'Felix Jones',
 'Rashard Mendenhall',
 'Chris Johnson',
 'Matt Forte',
 'Ray Rice',
 'Kevin Smith',
 'Jacob Hester',
 'Jamaal Charles',
 'Steve Slaton',
 'Tashard Choice',
 'Ryan Torain',
 'Jerome Felton',
 'Timothy Hightower',
 'Owen Schmitt',
 'Marcus Thomas',
 'Thomas Brown',
 'Jalen Parmele',
 'Xavier Omon',
 'Mike Hart',
 'Lex Hilliard',
 'Chauncey Washington',
 'Peyton Hillis',
 'Justin Forsett',
 'Cory Boyd',
 'Allen Patrick',
 'Adrian Peterson',
 'Marshawn Lynch',
 'Kenny Irons',
 'Chris Henry',
 'Brian Leonard',
 'Brandon Jackson',
 'Lorenzo Booker',
 'Tony Hunt',
 'Garrett Wolfe',
 'Michael Bush',
 'Antonio Pittman',
 'Dwayne Wright',
 "Le'Ron McClain",
 'Kolby Smith',
 "Oren O'Neal",
 "Reagan Maui'a",
 'Thomas Clayton',
 'Deon Anderson',
 'Justise Hairston',
 'Derek Schouman',
 'DeShawn Wynn',
 'Nate Ilaoa',
 'Jason Snelling',
 'Kenneth Darby',
 'Ahmad Bradshaw',
 'Reggie Bush',
 'Laurence Maroney',
 'DeAngelo Williams',
 'Joseph Addai',
 'LenDale White',
 'Maurice Jones-Drew',
 'Brian Calhoun',
 'Jerious Norwood',
 'Michael Robinson',
 'Leon Washington',
 'P.J. Daniels',
 'Jerome Harrison',
 'David Kirtman',
 'Wali Lundy',
 'Lawrence Vickers',
 'J.D. Runnels',
 'Cedric Humes',
 'Quinton Ganther',
 'Ronnie Brown',
 'Cedric Benson',
 'Cadillac Williams',
 'J.J. Arrington',
 'Eric Shelton',
 'Frank Gore',
 'Vernand Morency',
 'Ryan Moats',
 'Maurice Clarett',
 'Marion Barber',
 'Brandon Jacobs',
 'Ciatrick Fason',
 'Manuel White',
 'Alvin Pearman',
 'Darren Sproles',
 'Damien Nash',
 'Justin Green',
 'Cedric Houston',
 'Deandra Cobb',
 'Rick Razzano',
 'Nehemiah Broughton',
 'Lionel Gates',
 'Anthony Davis',
 'Noah Herron',
 'Madison Hedgecock',
 'Steven Jackson',
 'Chris Perry',
 'Kevin Jones',
 'Tatum Bell',
 'Julius Jones',
 'Greg Jones',
 'Mewelde Moore',
 'Cedric Cobbs',
 'Michael Turner',
 'Mike Karney',
 'Thomas Tapeh',
 'Troy Fleming',
 'Adimchinobe Echemandu',
 'Jonathan Smith',
 'Quincy Wilson',
 'Casey Cramer',
 'Derrick Ward',
 'Sean McHugh',
 'Bruce Perry',
 'Brandon Miree',
 'Willis McGahee',
 'Larry Johnson',
 'Musa Smith',
 'B.J. Askew',
 'Chris Brown',
 'Justin Fargas',
 'Artose Pinner',
 'Domanick Davis',
 'Onterrio Smith',
 'Quentin Griffin',
 'Lee Suggs',
 'Jeremi Johnson',
 'Justin Griffith',
 'LaBrandon Toefield',
 'Ovie Mughelli',
 'Chris Davis',
 'Brock Forsey',
 'Malaefou MacKenzie',
 'Andrew Pinnock',
 'Ahmaad Galloway',
 'Brandon Drumm',
 'J.T. Wall',
 'Casey Moore']

In [6]:
rb_stats = nfl_stats[nfl_stats["player"].isin(rookie_rbs_03_23)].reset_index()
rb_stats

,index,player,team,age,pos,g,gs,rush_att,rush_yds,rush_td,rush_first_down,rush_success,rush_long,rush_yds_per_att,rush_yds_per_g,fumbles,year
0,43,Onterrio Smith,MIN,23,RB,15,3,107,579,5,29,53.3,47,5.4,38.6,1,2003
1,46,Quentin Griffin,DEN,22,RB,10,1,94,345,0,16,39.4,23,3.7,34.5,3,2003
2,65,Chris Brown,TEN,22,RB,11,0,56,221,0,9,39.3,28,3.9,20.1,1,2003
3,67,Lee Suggs,CLE,23,RB,7,0,56,289,2,14,42.9,78,5.2,41.3,2,2003
4,69,LaBrandon Toefield,JAX,23,RB,16,0,53,212,2,11,49.1,30,4.0,13.3,0,2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1708,6819,Chris Evans,CIN,26,RB,8,0,2,12,0,0,0.0,7,6.0,1.5,0,2023
1709,6820,Jake Funk,IND,25,RB,4,0,2,10,0,0,0.0,7,5.0,2.5,0,2023
1710,6856,Connor Heyward,PIT,24,TE,17,7,1,0,0,0,0.0,0,0.0,0.0,0,2023
1711,6859,Evan Hull,IND,23,RB,1,0,1,1,0,0,0.0,1,1.0,1.0,0,2023
1712,6890,Jonathan Williams,WAS,29,RB,1,0,1,-2,0,0,0.0,-2,-2.0,-2.0,0,2023

We now have our NFL stats from all the players that were drafted in the NFL draft from 2003 to 2023. Now we want to look at how many of these players were successful draft picks in their first 2 years.

## Were these players successful in their first 2 years?

In [7]:
f2_year = []
rl = []
for i, row in rb_stats.iterrows():
    name = str(row["player"])
    year = int(row["year"])
    rookie_year = rookie_year_mapper[name]
    rl.append(rookie_year)
    if year == rookie_year or year == rookie_year+1:
        f2_year.append(1)
    else:
        f2_year.append(0)
rb_stats["rookie_year"] = rl
rb_stats["first_2_years"] = f2_year
rb_stats[(rb_stats["year"] == 2023)].head(25)

,index,player,team,age,pos,g,gs,rush_att,rush_yds,rush_td,rush_first_down,rush_success,rush_long,rush_yds_per_att,rush_yds_per_g,fumbles,year,rookie_year,first_2_years
1620,6549,Derrick Henry,TEN,29,RB,17,17,280,1167,12,63,46.1,69,4.2,68.6,0,2023,2016,0
1621,6550,Christian McCaffrey,SFO,27,RB,16,16,272,1459,14,83,54.0,72,5.4,91.2,3,2023,2017,0
1622,6551,Rachaad White,TAM,24,RB,17,17,272,990,6,46,40.8,38,3.6,58.2,3,2023,2022,1
1623,6552,Travis Etienne,JAX,24,RB,17,17,267,1008,11,53,43.1,62,3.8,59.3,0,2023,2021,0
1624,6553,Joe Mixon,CIN,27,RB,17,17,257,1034,9,59,49.4,44,4.0,60.8,0,2023,2017,0
1625,6554,Najee Harris,PIT,25,RB,17,17,255,1035,8,51,48.2,25,4.1,60.9,2,2023,2021,0
1626,6555,Tony Pollard,DAL,26,RB,17,17,252,1005,6,56,50.0,31,4.0,59.1,3,2023,2019,0
1627,6556,Saquon Barkley,NYG,26,RB,14,14,247,962,6,51,40.1,36,3.9,68.7,2,2023,2018,0
1628,6557,Chuba Hubbard,CAR,24,RB,17,12,238,902,5,59,47.5,22,3.8,53.1,1,2023,2021,0
1629,6558,James Cook,BUF,24,RB,17,13,237,1122,2,53,55.7,42,4.7,66.0,4,2023,2022,1
1630,6559,Josh Jacobs,LVR,25,RB,13,13,233,805,6,34,45.9,63,3.5,61.9,3,2023,2019,0
1631,6560,D'Andre Swift,PHI,24,RB,16,15,229,1049,5,50,54.1,43,4.6,65.6,3,2023,2020,0
1632,6561,Kyren Williams,LAR,23,RB,12,11,228,1144,12,62,59.6,56,5.0,95.3,3,2023,2022,1
1633,6562,Breece Hall,NYJ,22,RB,17,16,223,994,5,40,39.5,83,4.5,58.5,2,2023,2022,1
1634,6563,David Montgomery,DET,26,RB,14,14,219,1015,13,59,54.8,75,4.6,72.5,2,2023,2019,0
1635,6565,Javonte Williams,DEN,23,RB,16,13,217,774,3,41,40.6,21,3.6,48.4,1,2023,2021,0
1636,6566,Devin Singletary,HOU,26,RB,17,10,216,898,4,41,47.7,24,4.2,52.8,1,2023,2019,0
1637,6567,Bijan Robinson,ATL,21,RB,17,16,214,976,4,50,43.5,38,4.6,57.4,4,2023,2023,1
1638,6569,James Conner,ARI,28,RB,13,13,208,1040,7,57,49.5,44,5.0,80.0,0,2023,2017,0
1639,6571,Jerome Ford,CLE,24,RB,17,12,204,813,4,33,39.7,69,4.0,47.8,1,2023,2022,1
1640,6573,Tyler Allgeier,ATL,23,RB,17,3,186,683,4,39,48.4,31,3.7,40.2,0,2023,2022,1
1641,6574,Ezekiel Elliott,NWE,28,RB,17,5,184,642,3,33,45.1,17,3.5,37.8,2,2023,2016,0
1642,6575,Zack Moss,IND,26,RB,14,8,183,794,5,43,49.2,56,4.3,56.7,0,2023,2020,0
1643,6576,Jahmyr Gibbs,DET,21,RB,15,3,182,945,10,42,46.7,36,5.2,63.0,2,2023,2023,1
1644,6577,Alvin Kamara,NOR,28,RB,13,12,180,694,5,42,48.3,17,3.9,53.4,0,2023,2017,0

In [13]:
f2y_stats = rb_stats[rb_stats["first_2_years"] == 1]
f2y_stats[f2y_stats["year"]==2023]

,index,player,team,age,pos,g,gs,rush_att,rush_yds,rush_td,rush_first_down,rush_success,rush_long,rush_yds_per_att,rush_yds_per_g,fumbles,year,rookie_year,first_2_years
1622,6551,Rachaad White,TAM,24,RB,17,17,272,990,6,46,40.8,38,3.6,58.2,3,2023,2022,1
1629,6558,James Cook,BUF,24,RB,17,13,237,1122,2,53,55.7,42,4.7,66.0,4,2023,2022,1
1632,6561,Kyren Williams,LAR,23,RB,12,11,228,1144,12,62,59.6,56,5.0,95.3,3,2023,2022,1
1633,6562,Breece Hall,NYJ,22,RB,17,16,223,994,5,40,39.5,83,4.5,58.5,2,2023,2022,1
1637,6567,Bijan Robinson,ATL,21,RB,17,16,214,976,4,50,43.5,38,4.6,57.4,4,2023,2023,1
1639,6571,Jerome Ford,CLE,24,RB,17,12,204,813,4,33,39.7,69,4.0,47.8,1,2023,2022,1
1640,6573,Tyler Allgeier,ATL,23,RB,17,3,186,683,4,39,48.4,31,3.7,40.2,0,2023,2022,1
1643,6576,Jahmyr Gibbs,DET,21,RB,15,3,182,945,10,42,46.7,36,5.2,63.0,2,2023,2023,1
1649,6587,Dameon Pierce,HOU,23,RB,14,7,145,416,2,14,37.9,22,2.9,29.7,0,2023,2022,1
1655,6595,Zach Charbonnet,SEA,22,RB,16,2,108,462,1,32,49.1,23,4.3,28.9,0,2023,2023,1
1658,6598,Zamir White,LVR,24,RB,17,4,104,451,1,19,51.0,43,4.3,26.5,1,2023,2022,1
1659,6599,De'Von Achane,MIA,22,RB,11,4,103,800,8,30,54.4,76,7.8,72.7,1,2023,2023,1
1660,6600,Ty Chandler,MIN,25,RB,17,4,102,461,3,20,45.1,31,4.5,27.1,0,2023,2022,1
1661,6601,Tyjae Spears,TEN,22,RB,17,1,100,453,2,24,44.0,23,4.5,26.6,1,2023,2023,1
1664,6606,Roschon Johnson,CHI,22,RB,15,0,81,352,2,16,43.2,29,4.3,23.5,1,2023,2023,1
1670,6618,Pierre Strong,CLE,25,RB,17,1,63,291,1,10,50.8,40,4.6,17.1,1,2023,2022,1
1673,6627,Chris Rodriguez,WAS,23,RB,13,0,51,247,2,14,47.1,16,4.8,19.0,1,2023,2023,1
1674,6628,Tank Bigsby,JAX,22,RB,17,0,50,132,2,12,42.0,12,2.6,7.8,2,2023,2023,1
1677,6635,Chase Brown,CIN,23,RB,12,0,44,179,0,6,34.1,31,4.1,14.9,1,2023,2023,1
1678,6639,Kendre Miller,NOR,21,RB,8,0,41,156,1,10,39.0,18,3.8,19.5,0,2023,2023,1
1679,6650,Isaiah Spiller,LAC,22,RB,9,0,37,96,0,1,32.4,8,2.6,10.7,0,2023,2022,1
1680,6653,Keaontay Ingram,ARI,24,RB,8,1,35,74,0,4,20.0,14,2.1,9.3,0,2023,2022,1
1689,6678,Deuce Vaughn,DAL,22,RB,7,0,23,40,0,1,8.7,13,1.7,5.7,0,2023,2023,1
1690,6679,Israel Abanikanda,NYJ,21,RB,6,0,22,70,0,3,36.4,12,3.2,11.7,1,2023,2023,1
1693,6688,Eric Gray,NYG,24,RB,13,0,17,48,0,2,35.3,12,2.8,3.7,3,2023,2023,1
1694,6693,Kevin Harris,NWE,23,RB,4,0,16,65,1,2,50.0,18,4.1,16.3,0,2023,2022,1
1701,6727,Zach Evans,LAR,22,RB,10,0,9,19,0,0,0.0,5,2.1,1.9,0,2023,2023,1
1704,6754,Tyrion Davis-Price,SFO,23,RB,1,0,6,21,0,1,50.0,15,3.5,21.0,0,2023,2022,1
1710,6856,Connor Heyward,PIT,24,TE,17,7,1,0,0,0,0.0,0,0.0,0.0,0,2023,2022,1
1711,6859,Evan Hull,IND,23,RB,1,0,1,1,0,0,0.0,1,1.0,1.0,0,2023,2023,1

In [14]:
f2y_stats.describe()

,index,age,g,gs,rush_att,rush_yds,rush_td,rush_first_down,rush_success,rush_long,rush_yds_per_att,rush_yds_per_g,fumbles,year,rookie_year,first_2_years
count,662.000000,662.000000,662.000000,662.000000,662.000000,662.000000,662.000000,662.000000,662.000000,662.000000,662.000000,662.000000,662.000000,662.000000,662.000000,662.0
mean,3425.424471,22.990937,11.845921,3.734139,85.891239,367.383686,2.444109,18.767372,43.031873,29.660121,3.974622,28.641239,1.157100,2013.395770,2012.919940,1.0
std,1862.653110,1.132618,4.492435,4.969682,84.108731,380.551146,3.142946,19.472708,16.668569,21.772810,1.504312,25.764046,1.471701,5.767338,5.774213,0.0
min,43.000000,21.000000,1.000000,0.000000,1.000000,-4.000000,0.000000,0.000000,0.000000,-4.000000,-4.000000,-1.000000,0.000000,2003.000000,2003.000000,1.0
25%,1864.500000,22.000000,9.000000,0.000000,16.000000,53.250000,0.000000,3.000000,37.500000,13.000000,3.300000,6.700000,0.000000,2008.000000,2008.000000,1.0
50%,3392.500000,23.000000,13.000000,1.000000,57.000000,239.500000,1.000000,12.000000,44.400000,24.000000,4.000000,22.000000,1.000000,2013.000000,2013.000000,1.0
75%,4875.750000,24.000000,16.000000,6.750000,133.000000,568.000000,4.000000,29.000000,50.000000,43.000000,4.700000,44.775000,2.000000,2018.000000,2018.000000,1.0
max,6859.000000,29.000000,17.000000,17.000000,363.000000,2006.000000,18.000000,107.000000,100.000000,92.000000,13.800000,125.400000,9.000000,2023.000000,2023.000000,1.0

Here I must draw an arbitrary line as to who had a successful season and who did not. Looking at the names for this year, it appears to me that the best way to gauge this is through rushing attempts and rushing yards. Aurther I think that the averages for each of these columns actually do a great job of dividing the list into successful and not-successful seasons. I will use this as the benchmark for defining a successful season. I will also add in that they should have at least 2.8 yards per carry as anything below this is pretty ineffecitve. This is about one standard deviation away from the mean.

In [18]:
min_att = f2y_stats.rush_att.mean()
min_yds = f2y_stats.rush_yds.mean()
min_ypc = 2.8

In [22]:
successful_year = []
for i, row in f2y_stats.iterrows():
    if row["rush_att"] >= min_att and row["rush_yds"] >= min_yds and row["rush_yds_per_att"] >= min_ypc:
        successful_year.append(1)
    else:
        successful_year.append(0)
f2y_stats["successful_year"] = successful_year
f2y_stats

/var/folders/z9/9fp5jhgs2bj9rb5803bf8zmw0000gn/T/ipykernel_71037/3778444948.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f2y_stats["successful_year"] = successful_year

,index,player,team,age,pos,g,gs,rush_att,rush_yds,rush_td,rush_first_down,rush_success,rush_long,rush_yds_per_att,rush_yds_per_g,fumbles,year,rookie_year,first_2_years,successful_year
0,43,Onterrio Smith,MIN,23,RB,15,3,107,579,5,29,53.3,47,5.4,38.6,1,2003,2003,1,1
1,46,Quentin Griffin,DEN,22,RB,10,1,94,345,0,16,39.4,23,3.7,34.5,3,2003,2003,1,0
2,65,Chris Brown,TEN,22,RB,11,0,56,221,0,9,39.3,28,3.9,20.1,1,2003,2003,1,0
3,67,Lee Suggs,CLE,23,RB,7,0,56,289,2,14,42.9,78,5.2,41.3,2,2003,2003,1,0
4,69,LaBrandon Toefield,JAX,23,RB,16,0,53,212,2,11,49.1,30,4.0,13.3,0,2003,2003,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1694,6693,Kevin Harris,NWE,23,RB,4,0,16,65,1,2,50.0,18,4.1,16.3,0,2023,2022,1,0
1701,6727,Zach Evans,LAR,22,RB,10,0,9,19,0,0,0.0,5,2.1,1.9,0,2023,2023,1,0
1704,6754,Tyrion Davis-Price,SFO,23,RB,1,0,6,21,0,1,50.0,15,3.5,21.0,0,2023,2022,1,0
1710,6856,Connor Heyward,PIT,24,TE,17,7,1,0,0,0,0.0,0,0.0,0.0,0,2023,2022,1,0
1711,6859,Evan Hull,IND,23,RB,1,0,1,1,0,0,0.0,1,1.0,1.0,0,2023,2023,1,0

In [24]:
f2y_stats = pd.merge(f2y_stats, rookies[["Name", "Pick", "Team", "College"]], left_on="player", right_on="Name")
f2y_stats

,index,player,team,age,pos,g,gs,rush_att,rush_yds,rush_td,...,rush_yds_per_g,fumbles,year,rookie_year,first_2_years,successful_year,Name,Pick,Team,College
0,43,Onterrio Smith,MIN,23,RB,15,3,107,579,5,...,38.6,1,2003,2003,1,1,Onterrio Smith,8,Vikings,Oregon
1,364,Onterrio Smith,MIN,24,RB,11,6,124,544,2,...,49.5,2,2004,2003,1,1,Onterrio Smith,8,Vikings,Oregon
2,46,Quentin Griffin,DEN,22,RB,10,1,94,345,0,...,34.5,3,2003,2003,1,0,Quentin Griffin,11,Broncos,Oklahoma
3,378,Quentin Griffin,DEN,23,RB,6,4,85,311,2,...,51.8,3,2004,2003,1,0,Quentin Griffin,11,Broncos,Oklahoma
4,65,Chris Brown,TEN,22,RB,11,0,56,221,0,...,20.1,1,2003,2003,1,0,Chris Brown,29,Titans,Colorado
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
657,6678,Deuce Vaughn,DAL,22,RB,7,0,23,40,0,...,5.7,0,2023,2023,1,0,Deuce Vaughn,35,Cowboys,Kansas State
658,6679,Israel Abanikanda,NYJ,21,RB,6,0,22,70,0,...,11.7,1,2023,2023,1,0,Israel Abanikanda,8,Jets,Pittsburgh
659,6688,Eric Gray,NYG,24,RB,13,0,17,48,0,...,3.7,3,2023,2023,1,0,Eric Gray,37,Giants,Oklahoma
660,6727,Zach Evans,LAR,22,RB,10,0,9,19,0,...,1.9,0,2023,2023,1,0,Zach Evans,38,Rams,Mississippi
661,6859,Evan Hull,IND,23,RB,1,0,1,1,0,...,1.0,0,2023,2023,1,0,Evan Hull,41,Colts,Northwestern

In [26]:
player_success = f2y_stats.groupby("player")["successful_year"].max().reset_index()
player_success

                    player  successful_year
0                AJ Dillon                1
1              Aaron Brown                0
2              Aaron Jones                1
3          Aaron Ripkowski                0
4    Adimchinobe Echemandu                0
..                     ...              ...
375        Zach Charbonnet                1
376             Zach Evans                0
377              Zack Moss                1
378            Zamir White                1
379         Zander Horvath                0

[380 rows x 2 columns]

We now have a list of all the successful and unsuccessful draft picks of the last 20 years for RBs! These will be very helpful for training our model.

## College Data Loading

In [30]:
with open('rb_combine_stats.csv', 'r') as f3:
    combine_stats = pd.read_csv(f3)
combine_stats = combine_stats[combine_stats["Pos"] == "RB"]
combine_stats = combine_stats.dropna(subset=["Ht", "Wt"])
combine_stats.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 636 entries, 4 to 7356
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Player               636 non-null    object
 1   Pos                  636 non-null    object
 2   School               636 non-null    object
 3   College              589 non-null    object
 4   Ht                   636 non-null    object
 5   Wt                   636 non-null    float64
 6   40yd                 592 non-null    float64
 7   Vertical             530 non-null    float64
 8   Bench                448 non-null    float64
 9   Broad Jump           515 non-null    float64
 10  3Cone                331 non-null    float64
 11  Shuttle              343 non-null    float64
 12  Drafted (tm/rnd/yr)  358 non-null    object
 13  Player-additional    550 non-null    object
dtypes: float64(7), object(7)
memory usage: 74.5+ KB

In [31]:
combine_stats = combine_stats.drop(['College', 'Drafted (tm/rnd/yr)', 'Player-additional'], axis=1)

In [32]:
combine_stats.head()

,Player,Pos,School,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle
4,B.J. Askew,RB,Michigan,6-2,241.0,4.60,NaN,NaN,NaN,NaN,NaN
16,Santonio Beard,RB,Alabama,6-0,222.0,4.62,31.5,NaN,119.0,NaN,NaN
29,Chris Brown,RB,Colorado,6-3,220.0,4.46,NaN,NaN,NaN,NaN,NaN
41,Kerry Carter,RB,Stanford,6-2,238.0,4.61,36.0,20.0,118.0,7.29,4.39
45,Avon Cobourne,RB,West Virginia,5-7,205.0,4.70,31.5,21.0,112.0,7.21,4.18

In [33]:
import numpy as np

combine_stats['Ht_in'] = combine_stats['Ht'].str.split('-').apply(lambda x: int(x[0]) * 12 + int(x[1]) if isinstance(x, list) else np.nan)

In [34]:
combine_stats

,Player,Pos,School,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,Ht_in
4,B.J. Askew,RB,Michigan,6-2,241.0,4.60,NaN,NaN,NaN,NaN,NaN,74
16,Santonio Beard,RB,Alabama,6-0,222.0,4.62,31.5,NaN,119.0,NaN,NaN,72
29,Chris Brown,RB,Colorado,6-3,220.0,4.46,NaN,NaN,NaN,NaN,NaN,75
41,Kerry Carter,RB,Stanford,6-2,238.0,4.61,36.0,20.0,118.0,7.29,4.39,74
45,Avon Cobourne,RB,West Virginia,5-7,205.0,4.70,31.5,21.0,112.0,7.21,4.18,67
...,...,...,...,...,...,...,...,...,...,...,...,...
7295,Jaden Shirden,RB,Monmouth,5-8,187.0,4.45,34.5,NaN,117.0,NaN,NaN,68
7330,Kimani Vidal,RB,Troy,5-8,213.0,4.46,37.5,18.0,120.0,7.01,4.15,68
7345,Michael Wiley,RB,Arizona,5-11,210.0,4.51,33.5,NaN,119.0,NaN,4.43,71
7350,Miyan Williams,RB,Ohio St.,5-9,229.0,NaN,NaN,NaN,NaN,NaN,NaN,69
7356,Jaylen Wright,RB,Tennessee,5-11,210.0,4.38,38.0,NaN,134.0,NaN,NaN,71

## Combine Data Manipulation

We will now use PCA analysis to fill in the missing data since many players do not participate in the combine.

In [35]:
from sklearn.preprocessing import StandardScaler

numerical_cols = ['Ht_in', 'Wt', '40yd', 'Vertical', 'Bench', 'Broad Jump', '3Cone', 'Shuttle']
numerical_data = combine_stats[numerical_cols]

In [36]:
missing_values_count = numerical_data.isnull().sum()

scaler = StandardScaler()

numerical_data_imputed = numerical_data.fillna(numerical_data.mean())
numerical_data_normalized = scaler.fit_transform(numerical_data_imputed)

In [37]:
from sklearn.decomposition import PCA
from sklearn.impute import SimpleImputer
import numpy as np

def pca_impute(data, n_components=None):
    if n_components is not None:
        pca = PCA(n_components=n_components)
    else:
        pca = PCA()
    pca.fit(data)
    data_pca_transformed = pca.transform(data)
    data_pca_inversed = pca.inverse_transform(data_pca_transformed)
    return data_pca_inversed

In [40]:
numerical_data_pca_imputed = pca_impute(numerical_data_normalized)
numerical_data_imputed_final = scaler.inverse_transform(numerical_data_pca_imputed)
numerical_data_filled = numerical_data.copy()
numerical_data_filled.loc[:, :] = numerical_data_imputed_final
numerical_data_filled.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 636 entries, 4 to 7356
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Ht_in       636 non-null    float64
 1   Wt          636 non-null    float64
 2   40yd        636 non-null    float64
 3   Vertical    636 non-null    float64
 4   Bench       636 non-null    float64
 5   Broad Jump  636 non-null    float64
 6   3Cone       636 non-null    float64
 7   Shuttle     636 non-null    float64
dtypes: float64(8)
memory usage: 44.7 KB

In [41]:
numerical_data_filled["Player"] = combine_stats["Player"]
numerical_data_filled

,Ht_in,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,Player
4,74.0,241.0,4.600000,34.364151,19.544643,118.72233,7.068943,4.282828,B.J. Askew
16,72.0,222.0,4.620000,31.500000,19.544643,119.00000,7.068943,4.282828,Santonio Beard
29,75.0,220.0,4.460000,34.364151,19.544643,118.72233,7.068943,4.282828,Chris Brown
41,74.0,238.0,4.610000,36.000000,20.000000,118.00000,7.290000,4.390000,Kerry Carter
45,67.0,205.0,4.700000,31.500000,21.000000,112.00000,7.210000,4.180000,Avon Cobourne
...,...,...,...,...,...,...,...,...,...
7295,68.0,187.0,4.450000,34.500000,19.544643,117.00000,7.068943,4.282828,Jaden Shirden
7330,68.0,213.0,4.460000,37.500000,18.000000,120.00000,7.010000,4.150000,Kimani Vidal
7345,71.0,210.0,4.510000,33.500000,19.544643,119.00000,7.068943,4.430000,Michael Wiley
7350,69.0,229.0,4.549764,34.364151,19.544643,118.72233,7.068943,4.282828,Miyan Williams
7356,71.0,210.0,4.380000,38.000000,19.544643,134.00000,7.068943,4.282828,Jaylen Wright

In [42]:
combine_model_training = pd.merge(numerical_data_filled, player_success, left_on="Player", right_on="player")
combine_model_training

,Ht_in,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,Player,player,successful_year
0,74.0,241.0,4.600000,34.364151,19.544643,118.72233,7.068943,4.282828,B.J. Askew,B.J. Askew,0
1,75.0,220.0,4.460000,34.364151,19.544643,118.72233,7.068943,4.282828,Chris Brown,Chris Brown,1
2,70.0,210.0,4.550000,36.000000,17.000000,115.00000,7.068943,4.282828,Chris Brown,Chris Brown,1
3,73.0,219.0,4.350000,34.364151,27.000000,137.00000,7.068943,4.282828,Justin Fargas,Justin Fargas,0
4,67.0,195.0,4.480000,38.000000,21.000000,123.00000,7.068943,4.080000,Quentin Griffin,Quentin Griffin,0
...,...,...,...,...,...,...,...,...,...,...,...
306,72.0,219.0,4.580000,31.500000,19.544643,122.00000,7.068943,4.282828,Roschon Johnson,Roschon Johnson,0
307,71.0,215.0,4.549764,34.364151,19.544643,118.72233,7.068943,4.282828,Kendre Miller,Kendre Miller,0
308,71.0,215.0,4.460000,37.000000,19.544643,124.00000,7.068943,4.282828,Bijan Robinson,Bijan Robinson,1
309,70.0,201.0,4.549764,39.000000,19.544643,125.00000,7.068943,4.282828,Tyjae Spears,Tyjae Spears,1
310,65.0,179.0,4.549764,35.500000,19.544643,116.00000,7.068943,4.282828,Deuce Vaughn,Deuce Vaughn,0

In [43]:
combine_model_training.columns

Index(['Ht_in', 'Wt', '40yd', 'Vertical', 'Bench', 'Broad Jump', '3Cone',
       'Shuttle', 'Player', 'player', 'successful_year'],
      dtype='object')

In [45]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

training_df = combine_model_training[['Ht_in', 'Wt', '40yd', 'Vertical', 'Bench', 'Broad Jump', '3Cone','Shuttle']]
X_train, X_test, Y_train, Y_test = train_test_split(training_df, combine_model_training["successful_year"], train_size=0.85, test_size=0.15, random_state=5)

In [46]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [53]:
model = LogisticRegression()
model.fit(X_train, Y_train)
print(training_df.columns)
print(model.coef_)

Index(['Ht_in', 'Wt', '40yd', 'Vertical', 'Bench', 'Broad Jump', '3Cone',
       'Shuttle'],
      dtype='object')
[[-0.2138349   0.69117054 -0.33327709  0.04032528 -0.16645508  0.17824919
  -0.28410266  0.1243053 ]]

This is very interesting and gives us some insight into some of the features that could cause a running back to have success. We can see that height has a negative coefficient, meaning that as players get taller, their success tends to drop off. The is the opposite with weight, which has the highest coefficient meaning that adding weight will increase your success in the NFL. You can also see that as your 40 Yard dash time goes up, then it negatively impacts you. This is a little confusing as having a higher 40yd datapoint is actually a worse time so the negative coefficient makes senes.

In [54]:
model.score(X_test, Y_test)

0.6170212765957447